---
// Stats.astro
---

<ul role="list" class="flex flex-wrap gap-8">
  <li class="flex flex-col gap-1">
    <span class="text-3xl font-medium text-neutral-100">95%</span>
    <span class="text-xs text-neutral-500">performance boost</span>
  </li>
  <li class="flex flex-col gap-1 pl-8 border-l border-neutral-700">
    <span class="text-3xl font-medium text-neutral-100">90%+</span>
    <span class="text-xs text-neutral-500">test coverage</span>
  </li>
  <li class="flex flex-col gap-1 pl-8 border-l border-neutral-700">
    <span class="text-3xl font-medium text-neutral-100">10+</span>
    <span class="text-xs text-neutral-500">years experience</span>
  </li>
  <li class="flex flex-col gap-1 pl-8 border-l border-neutral-700">
    <span class="text-3xl font-medium text-neutral-100">6+</span>
    <span class="text-xs text-neutral-500">years remote</span>
  </li>
</ul>
